#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    color: #2a5055;
    font-size: 25px;
    text-align: center;
}

#main img{
    width: 400px;

}
form{
    width: 50vh;

    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #eae4da;
    padding: 10px;
    margin: 50px;
    
    border-radius: 2px;
    border-color: #eaa9a4;
    border-width: 2px;

}
input{
    margin-bottom: 20px;
}

button{
    border-style: none;
    background-color: #2a5055;
    color: #eae4da;
    width: 100px;
    height: 30px;
    align-self:center;
}